body {
    background-color: #f3e3e2;
}

.logocadeau {
    width: 100px;
    
}

nav {
    background-color: #440704;
    text-align: center;
}

a {
    text-decoration: none;
    color: #f3e3e2;
}

ul {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #440704;
  }

li {
    display: inline;
    float: left;
    border-right: 1px solid #f3e3e2;
}

li a {
    display: block;
    color: #f3e3e2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #0c0e1d;
  }

  